.footer-nav {
    display: flex;
    padding: 100px 0 50px;

    li {
        list-style: none;
    }

    ul {
        margin: 0 0 28px;
        padding: 0;
    }
}

.footer-nav-item {
    width: 20%;

    span {
        display: block;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 20px;
        line-height: 150%;
        margin-bottom: 8px;
    }

    a {
        line-height: 180%;
        font-size: 18px;
        transition: .3s ease;

        &:hover {
            color: #00C1FF;
        }
    }

    .space-above {
        margin-top: 28px;
    }
}

.footer__main {
    background-color: #DFF5FE;
    padding: 53px 0 28px;
}

.footer__wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 45px;
}

.footer__col {
    flex: 1;
    display: flex;
    align-items: center;

    &:last-child {
        justify-content: flex-end;
    }
}

.footer__logo {
    display: block;
    width: 268px;
    margin-right: 18px;

    img {
        width: 100%;
        background-size: cover;
    }
}

.footer__text {
    font-size: 18px;
    line-height: 180%;
    margin: 0;
}

.footer__sertificate {
    margin-left: 20px;

    img {
        display: block;
        max-height: 107px;
    }
}

.footer__socials {
    display: flex;
    align-items: center;


    a {
        transition: .3s ease;
        width: 48px;
        height: 48px;
        &+a{
            margin-left: 7px;
        }

        &:hover {
            opacity: 0.7;
        }
    }

    img {
        width: 100%;
        height: 100%;
        background-size: cover;
    }
}

.footer__copy {

    p {
        text-align: center;
        font-size: 14px;
        line-height: 180%;
        margin: 0;
    }
}

// ADAPTIVE --- //

@media (max-width:1440px) {
    .footer-nav {
        padding: 70px 0 30px;
    }

    .footer__logo {
        display: block;
        width: 220px;
    }

    .footer__text {
        font-size: 16px;
    }
}

@media (max-width:1200px) {
    .footer-nav {
        flex-wrap: wrap;
    }

    .footer-nav-item {
        width: 25%;
    }

    .footer__wrapper {
        flex-wrap: wrap;
    }

    .footer__col {
        flex: none;
        width: 50%;


        &:last-child {
            margin-top: 30px;
            width: 100%;
            justify-content: center;
        }
    }

    .footer__sertificate:first-child {
        margin: 0;
    }
}

@media (max-width:992px) {
    .footer-nav-item {
        width: 33%;
    }

    .footer__col:first-child {
        flex-wrap: wrap;
    }

    .footer__text {
        width: 100%;
        padding-left: 80px;
    }
}

@media (max-width:768px) {
    .footer-nav-item .space-above {
        margin-top: 0;
    }

    .footer-nav-item {
        width: 50%;
    }

    .footer__col {
        width: 100%;
        justify-content: center;
    }

    .footer__col:last-child {
        margin-top: 40px;
    }

    .footer__logo {
        width: 210px;
        margin: 0;
    }

    .footer__text {
        margin-bottom: 40px;
        margin-top: -10px;
        padding-left: calc(50% - 25px);
    }

    .footer__wrapper {
        margin-bottom: 40px;
    }

    .footer__copy p {
        font-size: 12px;
        max-width: 330px;
        margin: 0 auto;
    }

}

@media (max-width:576px) {
    .footer__sertificate img {
        max-height: 95px;
    }
    .footer-nav {
        padding: 60px 0 10px;
    }

    .footer__sertificate {
        margin-left: 5px;
        width: 33%;

        img {
            margin: 0 auto;
        }
    }
}