// --- herosection --- //


.herosection {
    position: relative;
    padding-top: 40px;
}

.herosection__image img {
    display: block;
    position: absolute;
    width: 50%;
    background-size: cover;
    right: 0;
    top: 0;
}

.herosection__content {
    max-width: 600px;

    .title {
        font-size: 54px;
        font-weight: 600;
        color: #00C1FF;
        margin: 0 0 28px;
    }

    .subtitle {
        color: #132123;
        font-size: 28px;
        margin: 0 0 12px;
    }

    .descr {
        color: #132123;
        margin: 0 0 40px;
    }

    .herosection__btn {
        margin-bottom: 24px;
    }
}

.herosection__row {
    display: flex;
    align-items: flex-end;
    margin-bottom: 24px;

    .herosection__col:first-child {
        padding-right: 48px;
        position: relative;

        &:after {
            content: '';
            background-color: #CBD4D5;
            height: 65px;
            width: 1px;
            position: absolute;
            bottom: 5px;
            right: 24px;
        }
    }
}

.herosection__col {

    img {
        margin-bottom: 12px;
    }

    p {
        color: #000;
        font-size: 14px;
        line-height: 24px;
        font-weight: 600;
        margin: 0;
    }
}

.herosection__rate img {
    width: 249px;
    background-size: cover;
}


// *** --- *** //


// --- wave section --- //


.wave {
    width: 100%;
    margin-top: -3%;
    position: relative;
    z-index: -1;
    overflow: hidden;

    .bg-image img {
        width: 100%;
        background-size: cover;
        display: block;
    }

    .frame {
        position: absolute;
        transition: .1s linear;
        width: 75%;
        left: 5%;
        top: 35%;
        transform: translateY(0px);
    }
}

.wave__rate,
.wave__col {
    display: none;
}

// *** --- *** //


// --- logotypes section --- //

.logotypes {
    padding: 130px 0 100px;
    background-color: #DFF5FE;
}

.logotypes__title {
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    color: #132123;
    max-width: 701px;
    margin: 0 auto 55px;
}

.logotypes__carousel {
    .swiper-wrapper {
        align-items: center;
    }

    .swiper-wrapper {
        transition-timing-function: linear;
    }

    img {
        max-width: 290px;
        background-size: cover;
    }

    .swiper-slide {
        width: auto;
    }
}

// *** --- *** //


// --- advantages section --- //

.advantages {
    padding: 130px 0 100px;
    overflow: hidden;
}

.advantages__title {
    margin: 0 0 24px;
    text-align: center;
}

.advantages__subtitle {
    text-align: center;
    margin: 0 0 77px;
}

.advantages__wrapper {
    position: relative;
}


.advantages__block {
    display: flex;
    align-items: center;
    min-height: 75vh;
    margin-bottom: 50px;
    border-radius: 40px;
    padding: 97px 44px;
    position: relative;
    margin-bottom: 10vh;

    .mobile-btn {
        display: none;
    }
}

.advantages__image {
    width: 46%;
    margin-right: 82px;

    img {
        width: 100%;
        background-size: cover;
    }
}

.advantages__content {
    width: 36%;

    h3 {
        margin: 0 0 24px;
        font-size: 32px;
        font-weight: 700;
        line-height: 150%;
    }

    h4 {
        font-size: 20px;
        margin: 0 0 16px;
        font-weight: 700;
        line-height: 150%;
    }

    p {
        margin: 0 0 28px;
        font-size: 20px;
        line-height: 150%;
    }

    ul,
    ol {
        margin: 0 0 24px;
    }

    li {
        font-size: 20px;
        line-height: 150%;
    }
}

// *** --- *** //

// --- testimonials section --- //

.testimonials {
    padding: 0 0 130px;
}

.testimonials__title {
    text-align: center;
    margin: 0 0 24px;
}

.testimonials__subtitle {
    text-align: center;
    margin: 0 0 54px;
}

.testimonials__row {
    max-width: 1178px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto 57px;
    border-radius: 200px;
    background-color: #DFF5FE;
    padding: 18px 118px 18px 18px;

    &:last-child {
        margin-bottom: 0;
    }

    &:nth-child(even) {
        flex-direction: row-reverse;
        padding: 18px 18px 18px 118px;
    }
}

.testimonials__image {
    img {
        display: block;
        width: 180px;
        height: 180px;
        object-fit: cover;
        border-radius: 50%;
    }
}

.testimonials__content {
    width: calc(100% - 250px);

    p {
        font-size: 20px;
        line-height: 150%;
        margin: 0 0 20px;
    }

    span {
        font-size: 20px;
        font-weight: 600;
    }
}

// *** --- *** //


// --- ways section --- //

.ways {
    padding: 80px 0 140px;
}

.ways__title {
    text-align: center;
    margin: 0 0 80px;
}

.ways__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.ways__block {
    border-radius: 40px;

    .ways__content {
        h4 {
            font-weight: 700;
            font-size: 32px;
            margin: 0 0 24px;
            text-align: center;
        }

        p {
            font-size: 20px;
            line-height: 150%;
            text-align: center;
            margin: 0;
        }
    }

    .ways__video {
        background-color: #fff;
        border-radius: 20px;
        width: 100%;
        display: flex;
        align-items: center;

        &.mobile-row {
            display: none;
        }

        p {
            color: #000;
            line-height: 150%;
            margin: 0;
        }

        span {
            line-height: 150%;
            color: #5D6769;
        }

        .poster {
            position: relative;
            transition: .4s ease;

            &:hover {
                transform: scale(1.05);
                opacity: 0.8;
            }

            &:before {
                content: '';
                width: 100%;
                height: 100%;
                background: rgba(#60667D, .5);
                border-radius: 15px;
                position: absolute;
                top: 0;
                left: 0;
            }

            &:after {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background-image: url(../img/play.svg);
                background-size: cover;
            }

            img {
                width: 100%;
                height: 100%;
                display: block;
                object-fit: cover;
                border-radius: 15px;
            }
        }
    }

    .ways__image {
        img {
            width: 100%;
            border-radius: 25px;
            display: block;
        }
    }

    &.fullwidth {
        width: 100%;
        padding: 78px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        .ways__content {

            h4,
            p {
                text-align: left;
            }

            width: calc(50% - 35px);
        }

        .ways__image {
            width: calc(50% - 35px);
        }

        .ways__video {
            margin-top: 64px;
            padding: 24px;

            p {
                font-size: 20px;
            }

            span {
                font-size: 16px;
            }

            .poster {
                margin-right: 22px;
                width: 194px;
                height: 110px;

                &:after {
                    width: 27px;
                    height: 27px;
                }
            }
        }
    }

    &.halfwidth {
        width: calc(50% - 20px);
        margin-top: 40px;
        padding: 48px;

        .ways__content {
            h4 {
                margin-bottom: 20px;
            }

            p {
                margin: 0 0 32px;
            }
        }

        .ways__image {
            max-width: 500px;
            margin: 0 auto;
        }

        .ways__video {
            margin: 32px auto 0;
            padding: 16px;
            max-width: 500px;

            p {
                font-size: 16px;
            }

            span {
                font-size: 12px;
            }

            .poster {
                margin-right: 18px;
                width: 106px;
                height: 60px;

                &:after {
                    width: 14px;
                    height: 14px;
                }
            }
        }
    }
}


// *** --- *** //


// --- clients section --- //

.clients__wrapper {
    background-color: #DFF5FE;
    padding: 70px 50px;
    border-radius: 40px;
}

.clients__title {
    font-size: 28px;
    font-weight: 700;
    line-height: 150%;
    text-align: center;
    margin: 0 0 48px;
}

.clients__item {
    padding: 0 12px;
    text-align: center;

    img {
        margin-bottom: 30px;
        max-width: 250px;
        max-height: 50px;
    }

    p {
        font-size: 20px;
        line-height: 150%;
        max-width: 300px;
        margin: 0 auto;
    }
}

// *** --- *** //


// --- about section --- //
.about {
    padding: 130px 0;
}

.about__wrapper {
    display: flex;
    align-items: center;
}

.about__content {
    width: 50%;
    padding-right: 83px;

    h3 {
        margin: 0 0 24px;
    }

    li {
        font-size: 24px;
        line-height: 150%;
    }

    p {
        font-size: 24px;
        line-height: 150%;
        margin: 0 0 15px;
    }
}

.about__logos {
    margin-top: 40px;
    display: flex;
    align-items: center;
}

.about__logos-item {
    width: 150px;

    img {
        width: 100%;
        background-size: cover;
    }

    &+.about__logos-item {
        margin-left: 88px;
        position: relative;

        &:before {
            content: '';
            position: absolute;
            top: 50%;
            left: -44px;
            transform: translateY(-50%);
            width: 1px;
            height: 80px;
            background-color: #CBD4D5;
        }
    }
}

.about__image {
    width: 50%;

    img {
        width: 100%;
        background-size: cover;
    }
}

// *** --- *** //



//  ADAPTIVE //


@media (max-width:1440px) {
    .about{
        padding: 100px 0;
    }
    .about__content{
        width: 55%;
        padding-right: 50px;
        p{
            font-size: 20px;
        }
    }
    .about__image {
        width: 45%;
    }
    .clients__wrapper {
        padding: 60px 20px;
    }
    .clients__item {
        img {
            max-height: 40px;
            margin-bottom: 25px;
        }

        p {
            font-size: 18px;
        }
    }

    .ways {
        padding: 60px 0 120px;
    }

    .ways__content br {
        display: none;
    }

    .ways__block.fullwidth {
        padding: 70px 65px;
    }

    .ways__block.halfwidth {
        padding: 40px 35px;
    }

    .ways__block .ways__content p {
        font-size: 18px;
    }

    .ways__block .ways__content h4 {
        font-size: 30px;
        margin: 0 0 20px;
    }

    .testimonials {
        padding: 0 0 100px;
    }

    .advantages {
        padding: 100px 0;
    }

    .advantages__subtitle {
        margin: 0 0 60px;
    }

    .advantages__block {
        margin-bottom: 60px;
        padding: 85px 40px;
    }

    .advantages__image {
        width: 50%;
        margin-right: 5%;
    }

    .advantages__content {
        width: 45%;
    }
}

@media (max-width:1200px) {
    .about__logos{
        justify-content: center;
    }
    .about__content{
        padding-right: 20px;
        text-align: center;
    }
    .ways__title {
        margin: 0 0 60px;
    }

    .testimonials__row {
        margin: 0 auto 40px;
    }

    .testimonials__subtitle {
        margin: 0px 0 40px;
    }

    .testimonials__image img {
        width: 160px;
        height: 160px;
    }

    .testimonials__content {
        width: calc(100% - 230px);
    }

    .testimonials__row {
        padding: 18px 80px 18px 18px;

        &:nth-child(even) {
            padding: 18px 18px 18px 80px;
        }
    }

    .testimonials__content p {
        font-size: 18px;
    }

    .testimonials__content span {
        font-size: 18px;
    }

    .advantages__block {
        margin-bottom: 50px;
        padding: 70px 35px;
    }

    .herosection__content .title {
        font-size: 42px;
    }

    .herosection__content .subtitle {
        font-size: 24px;
    }
}

@media (max-width:992px) {
    .about{
        padding: 80px 0;
    }
    .about__wrapper{
        flex-wrap: wrap;
    }
    .about__content{
        padding-right: 0;
        width: 100%;
        margin-bottom: 40px;
    }
    .about__image{
        width: 100%;
    }
    
    .ways {
        padding: 40px 0 80px;
    }

    .ways__title {
        margin: 0 0 40px;
    }

    .ways__block .ways__content h4 {
        font-size: 26px;
        margin: 0 0 16px;
    }

    .ways__block.fullwidth {
        flex-wrap: wrap;
        padding: 40px 35px;

        .ways__image {
            width: 100%;
            max-width: 500px;
            margin: 0 auto;
        }
    }

    .ways__block .ways__content p {
        font-size: 16px;
    }

    .ways__block.fullwidth .ways__content {

        h4,
        p {
            text-align: center;
        }

        p {
            margin: 0 0 24px;
        }

        width: 100%;

        .ways__video {
            display: none;
        }
    }

    .ways__block.halfwidth .ways__content p {
        margin: 0 0 24px;
    }

    .ways__block.fullwidth .mobile-row {
        display: flex;
        max-width: 500px;
        padding: 16px;
        margin: 32px auto 0;

        p {
            font-size: 16px;
        }

        span {
            font-size: 14px;
        }

        .poster {
            margin-right: 18px;
            width: 106px;
            height: 60px;

            &:after {
                width: 14px;
                height: 14px;
            }
        }
    }

    .ways__block.halfwidth {
        width: 100%;
    }

    .testimonials {
        padding: 0 0 80px;
    }

    .testimonials__row {
        padding: 18px 60px 18px 18px;

        &:nth-child(even) {
            padding: 18px 18px 18px 60px;
        }
    }

    .testimonials__content {
        width: calc(100% - 210px);
    }

    .advantages__block {
        flex-wrap: wrap-reverse;

        .desctope-btn {
            display: none;
        }

        .mobile-btn {
            margin: 32px 0 0;
            display: inline-flex;
        }
    }

    .advantages__image {
        width: 100%;
        margin: 0 auto;
        max-width: 700px;
        text-align: center;
    }

    .advantages__content {
        max-width: 700px;
        margin: 0 auto 12px;
        width: 100%;
    }

    .herosection__content .title {
        font-size: 36px;
    }

    .herosection__content .subtitle {
        font-size: 22px;
    }
}


@media (max-width:768px) {
    .about__content p {
        font-size: 16px;
    }
    
    .about__logos-item {
        width: 145px;
    }
    .about__logos-item+.about__logos-item {
        margin-left: 60px;
    }
    .about__logos-item+.about__logos-item:before {
        left: -30px;
        height: 60px;
    }
    .clients__title {
        font-size: 26px;
        margin: 0 0 34px;
    }
    .clients__item {
        p {
            font-size: 16px;
            br{
                display: none;
            }
        }
    }

    .ways {
        padding: 0 0 56px;
    }

    .ways__block.halfwidth .ways__video .poster {
        margin-right: 16px;
    }

    .ways__video {
        .info {
            width: calc(100% - 122px);
        }
    }

    .ways__block.fullwidth,
    .ways__block.halfwidth {
        padding: 56px 20px;
    }

    .ways__block.fullwidth .mobile-row p {
        font-size: 14px;
    }

    .ways__block.halfwidth .ways__video p {
        font-size: 14px;
    }

    .ways__block.fullwidth .mobile-row {
        margin: 24px auto 0;
    }

    .ways__block.halfwidth .ways__video {
        margin: 24px auto 0;
    }

    .testimonials__row {
        padding: 0px 18px 18px 18px;
        flex-direction: column;
        border-radius: 20px;
        margin-top: 90px;

        &:nth-child(even) {
            padding: 0px 18px 18px 18px;
            flex-direction: column;
        }
    }

    .testimonials__image {
        margin-top: -50px;
        margin-bottom: 20px;

        img {
            width: 100px;
            height: 100px;
        }
    }

    .testimonials__content {
        width: 100%;
        text-align: center;

        p {
            font-size: 14px;
        }

        span {
            font-size: 16px;
        }
    }

    .advantages__block {
        padding: 56px 35px;
    }

    .advantages__content h3 {
        margin: 0px 0 24px;
        font-size: 26px;
    }

    .advantages__content p {
        margin: 0 0 20px;
        font-size: 18px;
    }

    .advantages__content li {
        font-size: 18px;
    }

    .advantages__content ol,
    .advantages__content ul {
        margin: 0 0 15px;
    }

    .herosection {
        padding-top: 30px;
    }

    .wave__col {
        margin-top: 32px;
        display: block;
        text-align: center;

        p {
            font-size: 14px;
            color: #000;
            font-weight: 600;
        }

        img {
            margin-bottom: 12px;
        }
    }

    .wave__rate {
        display: block;
        margin: 32px auto 0;
        width: 250px;
    }

    .wave {
        padding-bottom: 56px;

        .frame {
            display: none;
        }
    }

    .herosection__content {
        text-align: center;
    }

    .herosection__rate,
    .herosection__row {
        display: none;
    }

    .herosection__image img {
        width: 60%;
        position: relative;
        margin: 0 0 0 auto;
    }

    .logotypes {
        padding: 80px 0;
    }

    .logotypes__title {
        font-size: 24px;
        margin-bottom: 32px;
    }

    .logotypes__carousel {
        img {
            max-width: 220px;
        }
    }

    .wave {
        margin-top: -10%;
    }

    .bg-image img {
        transform: none !important;
    }
}

@media (max-width:576px) {
    .about{
        padding: 56px 0;
    }

    .clients__wrapper{
        padding: 56px 15px;
    }

    .advantages {
        padding: 56px 0;
    }

    .testimonials {
        padding: 0 0 56px;
    }

    .testimonials__row {
        margin-top: 80px;
    }

    .advantages__block .mobile-btn {
        height: 48px;
        padding: 5px 30px;
    }

    .advantages__content {
        p {
            font-size: 16px;
            text-align: center;
        }

        h3 {
            text-align: center;
        }

        h4 {
            text-align: center;
        }

        li {
            font-size: 16px;
        }
    }

    .advantages__block {
        padding: 56px 24px;
    }

    .herosection__image img {
        width: 100%;
    }

    .herosection__content .title {
        font-size: 32px;
        margin: 0 0 24px;
    }

    .herosection__content .subtitle {
        font-size: 16px;
    }

    .herosection__content .descr {
        font-size: 16px;
        margin: 0 0 36px;
    }

    .herosection__content .herosection__btn {
        margin-bottom: 38px;
    }

    .logotypes {
        padding: 56px 0 40px;
    }
}

@media (max-width:375px) {

    .logotypes__title {
        font-size: 20px;
        margin-bottom: 32px;
    }

    .logotypes__carousel {
        img {
            max-width: 170px;
            max-height: 60px;
        }
    }
}